

 <div class="container" id="woodstyle">
 <div id="innerbox">




    
   <h1>{{pageTitle}}</h1>
              <p>Once Alabama  had thousands of mounds built by the ancestors of modern Native American tribes. Some built as long ago as 5,000 years ago. This web app introduces the user to seven of these sites and gives useful visitor information. <p>
           <p>Please enjoy this  360 view, a historical recreation of a mound site.</p>
       <div class="embed-responsive embed-responsive-16by9">

        <iframe   src='https://roundme.com/embed/157347/397925' frameborder='0' webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
    
        </div>

        <br/>
            <h3> <a href="http://art-worlds.com/Alabama_moundbuilders/marzipano/app-files/index.html" target="_blank">360 View using Marzipano</a> <i class="fa fa-mobile fa-2x" aria-hidden="true"> </i></h3>
            <br/>
    
</div><!--close border-->
</div><!--close container-->
<footer>
    <div class="container" >

     <p> &copy; 2017 Carol Hicks All Rights Reserved.</p>
            <ul class="list-inline">
                 <li class="social-facebook">
                    <a href="https://www.facebook.com/ArtWorldsDesign/" class="third"><i class="fa fa-facebook fa-1x"></i></a>
                </li>               
                 <li>
                <a href="https://www.linkedin.com/in/artworldsdesign" class="third"><i class="fa fa-linkedin fa-1x "></i></a>
                                                
                </li>                
                 <li>
                   <a href="mailto:carol.hicks@art-worlds.com" class="third"><i class="fa fa-envelope fa-1x"></i></a>
                </li>
                 <li><a href="http://www.art-worlds.com" class="third"><i class="fa fa-desktop fa-1x "></i></a></li>
                
            </ul>
        
    </div>
</footer>
